doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title bookshelf
    script(src="https://use.fontawesome.com/releases/v6.1.2/js/all.js")
    link(rel="stylesheet", href="../stylesheets/style.css")
  body
    .wrap.bookshelf
      .header
        di.header-title #{users.userName} 책장
      .search
        input(class="search__input")
        button(class="search__btn")
          i.fa-solid.fa-magnifying-glass
      .columnBox
        -for(book of users.books)
            .column
                .column-image
                    img(src=`${book.image}`, alt="#")
                .column-text
                    .bookName #{book.name}
                    .aboutBook #{book.author}
                    .aboutBook #{book.publisher}
                    .publisher #{book.review}
      div(class="btn_wrap")
        a(href=`/add_book/:${users.id}`).button 책 추가
